<div class="modal-header">
	<h3 class="modal-title">{{ 'Normalização' | translate }}</h3>
</div>

<div class="modal-body">
	<h4>{{ 'Tabelas' | translate }}</h4>
	<ul class="tables-list">
		<li ng-repeat="table in $ctrl.tables">
			<button ng-click="$ctrl.selectTable(table)"
			ng-class="{'selected': $ctrl.selectedTable === table}">
				{{ table.name }}
			</button>
		</li>
	</ul>

	<h4>{{ 'Atributos' | translate }}</h4>
	<ul class="tables-list">
		<li ng-repeat="attribute in $ctrl.attributes">
			<button ng-click="">
				{{ attribute }}
			</button>
		</li>
	</ul>

	<h4>{{ 'Dependências Funcionais' | translate }}</h4>
	<table>
		<tr ng-repeat="df in $ctrl.functionalDependencies">
			<td><input type="text" ng-model="df.left"></td>
			<td>→</td>
			<td><input type="text" ng-model="df.right"></td>
			<td><button ng-click="$ctrl.removeDependency($index)">x</button></td>
		</tr>
	</table>
	<button ng-click="$ctrl.addDependency()">{{ 'Adicionar DF' | translate }}</button>

</div>

<div class="modal-footer">
	<button class="br-button" type="button" ng-click="$ctrl.cancel()">{{ 'Fechar' | translate }}</button>
	<button class="br-button primary" type="button" ng-click="$ctrl.applyNormalization()">{{ 'Normalizar' | translate
		}}</button>
</div>