<div class="modal-header">
	<h3 class="modal-title">{{ 'Normalização' | translate }}</h3>
</div>

<div class="modal-body">
	<h4>{{ 'Tabelas' | translate }}</h4>
	<!-- Abas de tabelas -->
	<ul class="tabs">
		<li ng-repeat="table in $ctrl.tables"
		    ng-click="$ctrl.selectTable(table)"
		    ng-class="{'active': $ctrl.selectedTable === table}">
			{{ table.name }}
		</li>
	</ul>

	<h4>{{ 'Atributos' | translate }}</h4>
	<ul class="tables-list">
		<li ng-repeat="attribute in $ctrl.attributes"
		    draggable-attr
		    attr-value="{{attribute}}"
		    on-drag="$ctrl.startDrag(attr)">
			<button>{{ attribute }}</button>
		</li>
	</ul>

	<h4>{{ 'Dependências Funcionais' | translate }}</h4>
	<div class="df-container">
		<!-- Box determinante -->
		<div class="df-box" droppable-box side="left" on-drop="$ctrl.onDrop(attr, side)">
			<h5>Determinante</h5>
			<div class="df-attr"
			     ng-repeat="attr in $ctrl.currentDF.left track by $index"
			     draggable-attr
			     attr-value="{{attr}}"
			     on-drag="$ctrl.startDrag(attr)">
				{{ attr }}
			</div>
		</div>

		<div class="df-arrow">→</div>

		<!-- Box dependente -->
		<div class="df-box" droppable-box side="right" on-drop="$ctrl.onDrop(attr, side)">
			<h5>Dependente</h5>
			<div class="df-attr"
			     ng-repeat="attr in $ctrl.currentDF.right track by $index"
			     draggable-attr
			     attr-value="{{attr}}"
			     on-drag="$ctrl.startDrag(attr)">
				{{ attr }}
			</div>
		</div>
	</div>

	<button ng-click="$ctrl.addDependencyFromDrag()">
		{{ 'Adicionar DF' | translate }}
	</button>

	<!-- Lista de DFs da tabela atual -->
	<table>
		<tr ng-repeat="df in $ctrl.functionalDependencies">
			<td>{{ df.left.join(', ') }}</td>
			<td>→</td>
			<td>{{ df.right.join(', ') }}</td>
			<td><button ng-click="$ctrl.removeDependency($index)">x</button></td>
		</tr>
	</table>
</div>

<div class="modal-footer">
	<button class="br-button" type="button" ng-click="$ctrl.cancel()">
		{{ 'Fechar' | translate }}
	</button>
	<button class="br-button primary" type="button" ng-click="$ctrl.applyNormalization()">
		{{ 'Normalizar' | translate }}
	</button>
</div>
